<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--user added-->
  <!--<connectionStrings>
    <add name ="DBCS1" connectionString="data source=.; database=northwind; integrated security=SSPI"
         providerName="System.Data.SqlClient"/>
    <add name ="DBCS2" connectionString="data source=.; database=min; integrated security=SSPI"
     providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
</configuration>